/*!
Theme Name: changethethought template
Author: Rachel Rippy
Author URI: http://www.rachelrippy.com
Description: Custom template built for changethethought.
=======

/* Fonts 
----------------------------------------------------------------------------------------*/

@font-face {
    font-family: 'nimbus_sans_d_otblack';
    src: url('fonts/nimbussansdot-blac-webfont.eot');
    src: url('fonts/nimbussansdot-blac-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/nimbussansdot-blac-webfont.woff') format('woff'),
         url('fonts/nimbussansdot-blac-webfont.ttf') format('truetype'),
         url('fonts/nimbussansdot-blac-webfont.svg#nimbus_sans_d_otblack') format('svg');
    font-weight: normal;
    font-style: normal;

}


/* HTML Reset
----------------------------------------------------------------------------------------*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, acronym, address, big, cite, code,
del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {
	border: 0;
	margin: 0;
	padding: 0;
	vertical-align: baseline;
}

ol, ul {
	list-style: none;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* remove scroll-bar shift */
html { 
	overflow-y: scroll;
}

.clear, .clearfloat {
	clear: both;
	display: block;
	font-size: 1px;
    height:0px;
}

.clearfix:after {
	visibility: hidden;
	display: block;
	content: " ";
	clear: both;
	height: 0;
}
	
* html .clearfix             { zoom: 1; } /* IE6 */
*:first-child+html .clearfix { zoom: 1; } /* IE7 */



/* Main stuff
----------------------------------------------------------------------------------------*/

body {
	background-color: #000;
	color: #454545;
}

#header_wrap, #footer {
	width: 100%;
}
#main {
	clear: both;
	width: 1410px;
	margin: 0 auto;
	overflow: hidden;
}
body.single-post #main {
	width: 940px;
}
body.page #main, body.error404 #main {
	width: 1390px;
}
#site_title span {
	font-size: 1px;
	position: absolute;
	top: -600px;
}
.light_grey {
	color: #ccc;
}
.dark_grey {
	color: #333;
}


/* sticky footer wraps etc. */
html, body {
	height: 100%;
}
#wrapper_all {
	height: 100%;
	width: 100%;
}
#wrapper {
	height: auto !important;
	height: 100%;
	min-height: 100%;
	position: relative;
	margin-bottom: -140px;
}
.push {
	height: 160px;
	clear: both;
}
#footer {
	position: relative;
	margin-top: -140px; /* negative value of footer height */
	height: 140px;
	overflow: hidden;
} 
/*Opera Fix*/
body:before {
	content:"";
	height: 100%;
	float: left;
	width: 0;
	margin-top: -32767px;
}
<!--[if !IE 7]>
#wrapper_all {
	display: table;
	height: 100%;
}
<!--[endif]-->

.test {
	
}



/* Text elements 
----------------------------------------------------------------------------------------*/
body {
	font-family: Helvetica, Arial, sans-serif;
	font-weight: 400;
	font-size: 0.875em; /* 14px */
}
p {
	margin: 20px 0;
	color: #999;
	font-size: 1.285714em; /* 18px */
	line-height: 1.2em;
}

.caption-text {

}

ul, ol {

}
ul {
	
}
ol {
	
}
li {
	
}



/* Links 
----------------------------------------------------------------------------------------*/
a {
	text-decoration: none;
	color: #454545;
}

a:focus,
a:active,
a:hover {
	color: #fff;
}



/* Headings 
----------------------------------------------------------------------------------------*/
h1, h2, h3, h4, h5, h6,
h1 a, h2 a, h3 a, h5 a, h6 a {
	font-weight: normal;
	font-family: 'nimbus_sans_d_otblack', Helvetica, Arial, sans-serif;
}

h1, body.page-id-6 h2 {
	color: #999;
	font-size: 6.85714286em; /* 96px */
	clear: both;
	line-height: 0.86em;
	letter-spacing: -0.03em;
}
h2 {
	font-size: 1.71428em; /* 24px */
	letter-spacing: -0.04em;
	line-height: 0.92em;
	margin-top: 16px;
}
h3 {
	font-size: 8.571428em; /* 120px */
	color: #fff;
	letter-spacing: -0.01em;
	line-height: 1.26em;
}
h4 {

}
h5 {

}
h6 {

}



/* Naviagtion
-------------------------------------------------------------- */

#access {
	float: left;
	margin: 56px 0 0 10px;
	font-family: 'nimbus_sans_d_otblack', Helvetica, Arial, sans-serif;
	font-size: 1.42857143em; /* 20px */
}
#access li {
	float: left;
	margin-right: 12px;
}
#access li.current-menu-item a {
	color: #fff;
}
.previous_arrow a, .next_arrow a {
	width: 130px;
	height: 130px;
	display: block;
	opacity: 0.3;
	position: absolute;
	top: 0;
}
/*.previous_arrow a:hover, .next_arrow a:hover {
	opacity: 0.5;
}*/
.previous_arrow a {
	background: url(images/left_arrow.png);
	left: -154px;
}
.next_arrow a {
	background: url(images/right_arrow.png);
	right: -154px;
}



/* Images 
----------------------------------------------------------------------------------------*/
img.alignright, .wp-caption.alignright, .alignright { 
	float: right; margin: 0 0 18px 18px; 
}
img.alignleft, .wp-caption.alignleft, .alignleft { 
	float: left; margin: 0 18px 18px 0; 
}
img.aligncenter, .wp-caption.aligncenter, .aligncenter { 
	display: block; margin: 18px auto; 
}
img.alignright, img.alignleft, img.aligncenter, img.alignnone {
}
 
.wp-caption.alignleft img, .wp-caption.alignleft img, .wp-caption.aligncenter img {
	display: block;
}




/* Header Styles
----------------------------------------------------------------------------------------*/
#header_wrap {
	width: 100%;
	height: 90px;
}
#branding {
	width: 1410px;
	height: 90px;
	margin: 0 auto;
	background: url(images/logo_mark.png) no-repeat right 33px;
}
#branding h1 {
	font-size: 1px;
}
#headergroup {
	width: 450px;
	margin: 55px 10px 0;
	float: left;
}



/* Home page Styles / Category pages
----------------------------------------------------------------------------------------*/
body.home article, body.archive article {
	float: left;
	margin: 8px 10px;
	position: relative;
}
.work_info {
	width: 225px;
	height: 250px;
	position: absolute;
	top: 0;
	z-index: 10;
	background: url(images/work_overlay.png) right;
}
.work_info .letter_code {
	font-size: 7.142857em; /* 100px */
	clear: both;
	padding-left: 10px;
	position: absolute;
	bottom: 34px;
}
.work_info .post_number {
	font-family: 'nimbus_sans_d_otblack', Helvetica, Arial, sans-serif;
	font-size: 2.571428em; /* 36px */
	letter-spacing: -0.05em;
	color: #fff;
	padding: 10px 0 0 14px;
}
.work_hover_content {
	width: 193px;
	height: 250px;
	position: absolute;
	top: 0;
	right: 0;
	z-index: 15;
	background: url(images/work_overlay_hover.png) left;
	color: #000;
	text-align: right;
	padding: 0 16px 0 36px;
	visibility: hidden;
}
.work_tagged {
	position: absolute;
	top: 164px;
	right: 16px;
}
.view_project {
	font-family: 'nimbus_sans_d_otblack', Helvetica, Arial, sans-serif;
	position: absolute;
	bottom: 12px;
	right: 16px;
	background: url(images/plus_icon.png) no-repeat right top;
	padding: 2px 30px 0 0;
	height: 18px;
}
/*body.home article a:hover > .work_hover_content,
body.archive article a:hover > .work_hover_content {
	visibility: visible;
}
body.home article a:hover > .work_info,
body.archive article a:hover > .work_info {
	visibility: hidden;
}*/
.top_button, .more_button {
	font-family: 'nimbus_sans_d_otblack', Helvetica, Arial, sans-serif;
	font-size: 2.57142857em; /* 36px */
	letter-spacing: -0.05em;
}
.top_button {
	float: right;
	clear: both;
}
.more_button {
	float: left;
}
body.home .top_button, body.archive .top_button {
	margin-right: 10px;
}
body.home .more_button, body.archive .more_button {
	margin-left: 10px;
}
.top_button a {
	color: #fff;
	background: url(images/minus.jpg) no-repeat right;
	padding-right: 38px;
}
.more_button a {
	color: #fff;
	background: url(images/plus.png) no-repeat left;
	padding-left: 38px;
}
.top_button a:hover, .more_button a:hover {
	opacity: 0.7;
}



/* Work page Styles
----------------------------------------------------------------------------------------*/
.work_main_images {
	margin-top: 32px;
	position: relative;
}
.work_main_images img {
	margin-bottom: 10px;
}
.work_description a {
	color: #cbcbcb;
}
.letter_code {
	font-family: 'nimbus_sans_d_otblack', Helvetica, Arial, sans-serif;
	font-size: 8.571428em; /* 120px */
	color: #fff;
	float: left;
	line-height: 0.84em;
	letter-spacing: -0.01em;
}
.publish, .work_category {
	font-family: 'nimbus_sans_d_otblack', Helvetica, Arial, sans-serif;
	font-size: 2.142857em; /* 30px */
	line-height: 1.05em;
	letter-spacing: -0.05em;
}
.publish {
	color: #999;
}
.tagging {
	float: left;
	margin: 3px 0 0 10px;
}
.to_projects {
	width: 100%;
	height: 90px;
	position: absolute;
	top: 0;
	left: 0;
	background-color: rgba(153, 153, 153, 0.8);
	z-index: 20;
	font-family: 'nimbus_sans_d_otblack', Helvetica, Arial, sans-serif;
	font-size: 1.71428em; /* 24px */
	letter-spacing: -0.04em;
}
.to_projects:hover {
	background-color: rgba(153, 153, 153, 0.94);
}
.back_info {
	width: 940px;
	margin: 0 auto;
}
.back_text {
	float: right;
	color: #fff;
	padding: 52px 40px 0 0;
	background: url(images/close_btn.png) no-repeat right 48px;
}
.post_number {
	float: left;
	padding-top: 51px;
	color: #cbcbcb;
}
body.single header {
	margin-top: 20px;
}



/* Studio and Contact Page Styles
----------------------------------------------------------------------------------------*/
.section_text {
	max-width: 1390px;
	color: #999;
	font-size: 1.71428571em; /* 24px */
	margin: 26px 0 46px;
	-webkit-column-count: 2;
	-moz-column-count: 2;
	column-count: 2;
	-webkit-column-gap: 20px;
	-moz-column-gap: 20px;
	column-column-gap: 20px;
}
.slider_left, .slider_right {
	position: absolute;
	top: 0;
	width: 50%;
	height: 500px;
	display: block;
	z-index: 10;
}
.slider_left {
	left: 0;
	background: url(images/slider_left.png) no-repeat left;
}
.slider_right {
	right: 0;
	background: url(images/slider_right.png) no-repeat right;
}
.slider_left_hover, .slider_right_hover {
	opacity: 0;
	width: 100px;
	height: 500px;
	-webkit-transition: opacity 0.5s;
  	-moz-transition: opacity 0.5s;
  	-ms-transition: opacity 0.5s;
  	-o-transition: opacity 0.5s;
  	transition: opacity 0.5s;
}
.slider_left_hover {
	background: url(images/slider_left_hover.png) no-repeat right;
	float: left;
}
.slider_right_hover {
	background: url(images/slider_right_hover.png) no-repeat left;
	float: right;
}
.slider_left:hover .slider_left_hover, .slider_right:hover .slider_right_hover {
	opacity: 1;
}
.flex-viewport li img {
	filter: url("data:image/svg+xml;utf8,<svg xmlns=\'http://www.w3.org/2000/svg\'><filter id=\'grayscale\'><feColorMatrix type=\'matrix\' values=\'0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0 0 0 1 0\'/></filter></svg>#grayscale"); /* Firefox 10+ */
    filter: gray; /* IE6-9 */
    -webkit-filter: grayscale(100%); /* Chrome 19+ & Safari 6+ */
    -webkit-transition: all .6s ease; /* Fade to color for Chrome and Safari */
    -webkit-backface-visibility: hidden; /* Fix for transition flickering */
}
.flex-viewport li img.inColor {
	filter: url("data:image/svg+xml;utf8,<svg xmlns=\'http://www.w3.org/2000/svg\'><filter id=\'grayscale\'><feColorMatrix type=\'matrix\' values=\'1 0 0 0 0, 0 1 0 0 0, 0 0 1 0 0, 0 0 0 1 0\'/></filter></svg>#grayscale");
    -webkit-filter: grayscale(0%);
}
.blog_line {
	font-family: 'nimbus_sans_d_otblack', Helvetica, Arial, sans-serif;	
	font-size: 3.28571429em; /* 46px */
	letter-spacing: -0.04em;
	clear: both;
}
.blog_line a {
	color: #cbcbcb;
}
.blog_line a:hover {
	color: #fff;
}

.contact_block {
	float: left;
	width: 695px;
	font-family: 'nimbus_sans_d_otblack', Helvetica, Arial, sans-serif;
	font-size: 2.57142857em; /* 36px */
	letter-spacing: -0.04em;
	color: #999;
	margin: 26px 0;
}
.contact_block a {
	color: #999;
}
.contact_title, .contact_block a:hover, .contact_block .google_link a:hover {
	color: #fff;
}
.contact_block .google_link {
	margin-top: 26px;
}
.contact_block .google_link a {
	color: #cbcbcb;
}




/* Footer Styles
----------------------------------------------------------------------------------------*/

#footer {
	clear: both;
	width: 1390px;
	margin: 0 auto;
	background-color: #333;
	font-family: 'nimbus_sans_d_otblack', Helvetica, Arial, sans-serif;
	font-size: 1.28571429em; /* 18px */
	letter-spacing: -0.04em;
	color: #656565;
}
#footer a {
	color: #656565;
}
#footer a:hover {
	color: #cbcbcb;
}
#menu-footer-nav {
	margin: 28px 11px 0 11px;
	width: 100%;
	height: 23px;
}
#menu-footer-nav li {
	float: left;
	font-size: 1px;
	text-indent: -9999px;
}
#menu-footer-nav li a:hover {
	opacity: 0.35;
}
#menu-footer-nav li a {
	height: 23px;
	display: block;
}
#menu-footer-nav li.design a {
	background: url(images/design_btn.png);
	width: 179px;
}
#menu-footer-nav li.animation a {
	background: url(images/animate_btn.png);
	width: 200px;
}
#menu-footer-nav li.illustration a {
	background: url(images/illustrate_btn.png);
	width: 177px;
}
#menu-footer-nav li.film a {
	background: url(images/film_btn.png);
	width: 152px;
}
#menu-footer-nav li.build a {
	background: url(images/build_btn.png);
	width: 161px;
}
#menu-footer-nav li.concept a {
	background: url(images/concept_btn.png);
	width: 174px;
}
#menu-footer-nav li.experiential a {
	background: url(images/experiential_btn.png);
	width: 201px;
}
#menu-footer-nav li.experiential {
	background: url(images/and.png) no-repeat top left;
	padding-left: 123px;
}


.right_contact_block {
	float: right;
}
.visit_links {
	color: #cbcbcb;
	font-size: 1.28571429em; /* 18px */
	padding: 18px 0 0 13px;
	white-space: nowrap;
}
#footer .visit_links a {
	color: #cbcbcb;
}
#footer .visit_links a:hover {
	color: #fff;
}
.contact_details {
	padding-left: 11px;
	margin-top: 6px;
}
.social_links a {
	width: 22px;
	height: 22px;
	display: inline-block;
	margin: 15px 13px 0 0;
	float: right;
}
.social_links a:hover {
	opacity: 0.7;
}
.social_links a.facebook {
	background: url(images/facebook.png);
}
.social_links a.twitter {
	background: url(images/twitter.png);
}
.social_links a.linkedin {
	background: url(images/linkedin.png);
}
.copyright {
	float: right;
	padding: 0 11px 0 12px;
	margin-top: 14px;
}



/* Flexslider Styles
----------------------------------------------------------------------------------------*/
/* FlexSlider Necessary Styles
*********************************/ 
.flexslider {margin: 0; padding: 0;}
.flexslider .slides > li {display: none; -webkit-backface-visibility: hidden;} /* Hide the slides before the JS is loaded. Avoids image jumping */
.flexslider .slides img {width: 100%; display: block;}
.flex-pauseplay span {text-transform: capitalize;}

/* Clearfix for the .slides element */
.slides:after {content: "."; display: block; clear: both; visibility: hidden; line-height: 0; height: 0;} 
html[xmlns] .slides {display: block;} 
* html .slides {height: 1%;}

/* No JavaScript Fallback */
/* If you are not using another script, such as Modernizr, make sure you
 * include js that eliminates this class on page load */
.no-js .slides > li:first-child {display: block;}


/* FlexSlider Default Theme
*********************************/
.flexslider {
	margin: 24px 0 0; 
	position: relative; 
	zoom: 1;
	overflow: hidden;
}
.flex-viewport {
	max-width: 1390px;
	-webkit-transition: all 1s ease; 
	-moz-transition: all 1s ease; 
	transition: all 1s ease;
}
body.page-id-6 .flex-viewport {
	max-height: 500px;
	overflow: hidden;
}
.loading .flex-viewport {max-height: 300px;}
.flexslider .slides {
	zoom: 1;
}

.carousel li {margin-right: 5px}


/* Direction Nav */
.flex-direction-nav {
	max-height: 500px;
}
.flex-direction-nav a {
	position: absolute;
	top: 0;
	width: 50%;
	max-height: 500px;
	display: block;
	z-index: 10;
	cursor: pointer;
	text-indent: -9999px;
}
.flex-direction-nav .flex-next {
	right: 0;
	background: url(images/slider_right.png) no-repeat right;
}
.flex-direction-nav .flex-prev {
	left: 0;
	background: url(images/slider_left.png) no-repeat left;
}





/* Forms 
----------------------------------------------------------------------------------------*/
input[type=text],
input[type=password],
textarea {
	
}
input[type=text]:focus,
textarea:focus {

}
textarea {

}
input[type=text] {

}





/* Media Queries
----------------------------------------------------------------------------------------*/
/* two column shift */
@media screen and (max-width: 1410px) {
	#main {
		width: 940px;
	}
	#branding, body.page #main {
		width: 98%;
	}
	body.page #main {
		width: 96%;
	}
	#footer {
		width: 100%;
	}
	body.single-post #main {
		width: 920px;
	}
    .back_info {
		width: 460px;
	}
	.section_text {
		font-size: 1.285714em; /* 18px */
	}
}


/* move single nav arrows */
@media screen and (max-width: 1262px) {
	.previous_arrow a, .next_arrow a {
		width: 36px;
		height: 36px;
		background-size: 36px;
	}
	.next_arrow a {
		right: -48px;
	}
	.previous_arrow a {
		left: -48px;
	}
}


/* single page shift */
@media screen and (max-width: 1040px) {
	body.single-post #main {
		width: 82%;
	}
	.work_main_images img {
		width: 100%;
	}
	h1, body.page-id-6 h2, h3 {
		font-size: 4.28571429em; /* 60px */
	}
}


	

/* one column shift */
@media screen and (max-width: 940px) {
	#main {
		width: 470px;
	}
	#headergroup {
		width: 250px;
	}
	body.single-post #access {
		visibility: hidden;
	}
	.contact_block {
		font-size: 1.71428571em; /* 24px */
		margin: 12px 0;
	}
	.blog_line {
		font-size: 1.71428571em; /* 24px */
	}
}




/* nav shift */
@media screen and (max-width: 684px) {
	body.single-post #main {
		width: 76%;
	}
	#access {
		margin: 20px 0 20px 10px;
		clear: both;
	}
	.section_text {
		-webkit-column-count: 1;
		-moz-column-count: 1;
		column-count: 1;
	}
}



/* phones */
@media screen and (max-width: 480px) {
	#branding, #main {
		width: 98%;
	}
	.work_info .letter_code {
		font-size: 4.28571429em; /* 60px */
		bottom: 24px;
	}
	.blog_line {
		font-size: 1.28571429em; /* 18px */
	}
	.contact_block {
		font-size: 1em; /* 14px */
	}
	.work_thumb img {
		width: 100%;
		height: auto;
	}
	.work_hover_content {
		height: 99%;
		width: 40%;
	}
	.work_info {
		height: 99%;
		width: 50%;
	}
	.work_tagged {
		visibility: hidden;
	}
	.publish, .work_category {
		font-size: 1em; /* 14px */
	}
	h1, body.single-post h1, body.page-id-6 h2, h3 {
		font-size: 2.57142857em; /* 36px */
	}
	h2 {
		font-size: 1.28571429em;
		line-height: 1.1em; 
	}
	p, .section_text {
		font-size: 1.14285714em; /* 16px */
	}
	.previous_arrow a, .next_arrow a {
		width: 16px;
		height: 16px;
		background-size: 16px;
	}
	.next_arrow a {
		right: -28px;
	}
	.previous_arrow a {
		left: -28px;
	}
	.top_button, .more_button {
		font-size: 1.71428571em; /* 24px */
	}
	.back_info {
		width: 250px;
	}
}



/* footer shift */
@media screen and (max-width: 1366px) {
	#footer {
		height: 162px;
	}
}
@media screen and (max-width: 750px) {
	#footer {
		height: 182px;
	}
}
@media screen and (max-width: 707px) {
	#footer {
		font-size: 1em; /* 14px */
	}
	.copyright {
		margin-top: 9px;
	}
}
@media screen and (max-width: 586px) {
	.visit_links {
		clear: both;
	}
	.right_contact_block {
		float: left;
	}
	.social_links a {
		float: left;
		margin: 15px 0 0 13px;
	}
	#footer {
		height: 238px;
	}
}
@media screen and (max-width: 497px) {
	#footer {
		height: 140px;
	}
	#menu-footer-nav {
		display: none;
	}
}

